/* ------------ Filters Menu ----------------- */
.filter_menu {
  position: absolute;
  width: 100%;
  top: 8vw;
  left: 44.3vw;
  z-index: 1;
}
.nav__searchBar {
  background-color: #010e26;
  outline: none;
  width: 51.5vw;
  height: 2.6vw;
  padding: 0 0.78vw;
  position: relative;
  border: none;
  border-bottom: 2px solid #fff;
}
.nav__searchBar[type="text"] {
  color: white;
  font-size: 1.07vw;
}
.nav__searchBar::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.07vw;
  color: #fff;
}
.nav__searchIcon {
  position: relative;
  width: 1.43vw;
  top: 0.52vw;
  left: -2.05vw;
  margin: 0 0 0 0.65vw;
}
