.products {
  width: 92%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  margin: 20.5vw auto 0;
}

.hero__vid {
  width: 100%;
  background-size: cover;
}
.hero__card1,
.hero__card2,
.hero__card3 {
  width: 29.3vw;
  height: 22.2vw;
  position: absolute;
  background-color: #010e26;
  top: 49.5vw;
  left: 3.8vw;
  border-radius: 10%;
}
.hero__card2 {
  top: 60.5vw;
  left: 50%;
  transform: translate(-48.4%, -50%);
}
.hero__card3 {
  left: 66.8vw;
}
.hero__card1--heading {
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 1.34vw;
  color: #fff;
  text-align: center;
  position: relative;
  top: 2.6vw;
}
.hero__card1--underline {
  width: 80%;
  position: relative;
  top: 3.9vw;
  left: 50%;
  transform: translateX(-50%);
}
.hero__card--btn,
.ach__allIndiacard--btn {
  background-color: #ff4e53;
  font-family: "Montserrat", sans-serif;
  font-size: 1vw;
  font-weight: 600;
  color: #fff;
  width: 7.48vw;
  height: 2.67vw;
  border-radius: 1.62vw;
  position: relative;
  top: 6vw;
  left: 1.4vw;
  display: inline-block;
  margin: 0.71vw 0.65vw;
  padding: 0.6vw 0.5vw;
}
.hero__card3-font {
  font-size: 1vw;
  text-align: center;
  vertical-align: middle;
}
.hero__card3-font1,
.hero__card3-font2 {
  font-size: 0.9vw;
  text-align: center;
  vertical-align: middle;
}
.hero__card3-font2 {
  font-size: 0.8vw;
  padding: 0.3vw 0.5vw;
}
.ach__studyMat--heading,
.ach__studyMat--underline {
  position: relative;
  top: 18.5vw;
  left: 5.8vw;
  font-family: "Roboto", sans-serif;
  font-size: 3.18vw;
  font-weight: 700;
  color: #f30007;
}
.ach__studyMat--underline {
  width: 46vw;
  border: none;
  border-bottom: 3px solid #f30007;
  margin-top: 0.4vw;
}
.ach__studyMat--exploreBtn {
  background-color: #68c938;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
  color: #fff;
  width: 14vw;
  height: 3.9vw;
  border-radius: 2.82vw;
  position: relative;
  top: 14.8vw;
  left: 79.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ach__studyMat--innovativeStudyMat {
  position: relative;
  left: 5.8vw;
  top: 18.2vw;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.7vw;
}
.ach__studyMat--studyMat {
  color: #b60000;
}
.ach__stdyMat--carefully {
  position: relative;
  left: 5.8vw;
  top: 19.4vw;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.61vw;
}
.ach__allIndiaPart {
  position: relative;
  margin-top: 2.3vw;
  display: flex;
  justify-content: center;
}
.ach__allIndiaVid {
  margin-left: 1vw;
  position: relative;
  height: 31.57vw;
  width: 39%;
  background-color: #5d6168;
}
.ach__allIndiaEntranceTest {
  margin-left: 2.3vw;
  position: relative;
  height: 31.57vw;
  width: 49%;
  background-color: #010e26;
}
.ach__allIndiaEntranceTest--heading,
.ach__allIndiaEntranceTest--description {
  position: relative;
  color: #fff;
  width: 60%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2.5vw;
  text-align: center;
  top: 2.7vw;
  left: 50%;
  transform: translateX(-50%);
}
.ach__allIndiaEntranceTest--underline {
  width: 87%;
  border: none;
  border-bottom: 2.5px solid #fff;
  margin: 0 auto;
  position: relative;
  top: 4.5vw;
}
.ach__allIndiaEntranceTest--description {
  width: 89.5%;
  font-family: "Segoe UI", sans-serif;
  font-size: 1.1vw;
  top: 6vw;
}
.ach__allIndiacard--btn {
  background-color: #68c938;
  top: 6.5vw;
  left: 2.7vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.15vw;
  width: 9.4vw;
  height: 3vw;
  margin: 0.71vw 2.5vw;
  text-align: center;
  padding-top: 0.32vw;
  padding-right: 2.27vw;
  padding-bottom: 0;
}
.ach__allIndiaArrow {
  position: absolute;
  width: 1.43vw;
  margin-left: 0.52vw;
  top: 0.78vw;
  left: 6.31vw;
}
.ach__allIndiacard--btnNeet,
.ach__allIndiacard--btnKVPY,
.ach__allIndiacard--btnViewAll {
  padding-top: 0.78vw;
}
.ach__allIndiacard--btnBHU,
.ach__allIndiacard--btnCSIR {
  font-size: 1.06vw;
}
.ach__allIndiaIITJEEMainAdv,
.ach__allIndiaIITJAMCrash,
.ach__allIndiaCuDu,
.ach__allIndiaTIRFEntr {
  font-size: 0.75vw;
  text-align: center;
  position: relative;
  display: block;
  top: -2px;
}

/* ----------- Product Item ----------------- */
@import url("../utils/productItem/productItem.css");

.delete-all {
  position: relative;
  text-align: right;
  margin-right: 5.35vw;
  top: 20vw;
}
.delete-all input {
  height: 25px;
  width: 25px;
  transform: translateY(5px);
  margin: 0 15px;
}
.delete-all span {
  text-transform: uppercase;
  color: #03a5ce;
  letter-spacing: 1.3px;
}
.delete-all button {
  border: 1px solid crimson;
  height: 3.25vw;
  padding: 0.52vw 1.62vw;
  color: crimson;
  font-size: 1vw;
  text-transform: uppercase;
}

/* -------------------- Load More --------------- */
.load_more {
  text-align: center;
}
.load_more button {
  padding: 0.65vw 1.62vw;
  margin-bottom: 1.3vw;
  border: 1px solid #555;
  text-transform: capitalize;
}
